<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 单例程序 -->
    <add key="SingleApp" value ="True"/>

    <!-- 启动后是否最小化 -->
    <add key="StartMinimize" value ="False"/>

    <!-- 当前的页 -->
    <add key="TabIndex" value ="0"/>

    
    <!-- 服务器模式，IP和端口 -->
    <add key="ServerMode"  value="False"/>
    <add key="ServerIP"  value="127.0.0.1"/>
    <add key="ServerPort"  value="60000"/>


    <!-- 串口设置-->
    <add key="PortName"  value="COM1"/>
    <add key="BaudRate"  value="9600"/>

    
  </appSettings>
  
</configuration>